<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TeamRocket Admin{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="{{ asset('css/admin/Dashboard.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="ea">
<header class="ea-header">
    <h1 class="admin-brand">TeamRocket</h1>
    {% block header_tools %}{% endblock %}
</header>

<main class="ea-main">
    {% block body %}{% endblock %}
</main>

<footer>
    <p>© 2025 TeamRocket Admin Dashboard</p>
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>
